@import "tailwindcss";

.navbar{
    background-color: rgb(0, 0, 0) !important;
    height: 50px;
    width: 97%;
    margin-left: 0;
    margin-right: auto;
    transition: all 0.4s ease-in-out;
}

.navbar.squares {
  width: 100%!important;
  border-radius: 0; 
}

.TextPosition{
    margin-bottom: 10px;
}

.textcss{
    font-size: 23px;
}